http:
  routers:
    http_redirect:
      rule: PathPrefix(`/`)
      entryPoints:
        - http
      service: shelf-reading
    healthcheck:
      rule: Path(`/healthcheck`)
      entryPoints:
        - https
      tls: {}
      service: rollout-health
    rollout:
      rule: PathPrefix(`/_rollout`)
      entryPoints:
        - https
      tls: {}
      middlewares:
        - strip-route-path
        - rollout-ip
      service: rollout
    shelf-reading:
      rule: PathPrefix(`/shelf-reading`)
      entryPoints:
        - https
      tls: {}
      middlewares:
        - ldap-shelf-reading
      service: shelf-reading
    gate-counts:
      rule: PathPrefix(`/gate-counts`)
      entryPoints:
        - https
      tls: {}
      middlewares:
        - ldap-shelf-reading
      service: gate-counts
    folio-shelving-order:
      rule: PathPrefix(`/folio-shelving-order`)
      entryPoints:
        - https
      tls: {}
      service: folio-shelving-order
    folio-celus-report-link:
      rule: PathPrefix(`/celus-report`)
      entryPoints:
        - https
      tls: {}
      service: folio-celus-report-link
  services:
    rollout:
      loadBalancer:
        servers:
          - url: http://rollout:8080
    rollout-health:
      loadBalancer:
        servers:
          - url: http://rollout:8080/healthcheck
    shelf-reading:
      loadBalancer:
        servers:
          - url: http://shelf-reading:8080
    folio-shelving-order:
      loadBalancer:
        servers:
          - url: http://folio-shelving-order:8080
    gate-counts:
      loadBalancer:
        servers:
          - url: http://gate-counts:8080
    folio-celus-report-link:
      loadBalancer:
        servers:
          - url: http://folio-celus-report-link:8080
  middlewares:
    ldap-valid-user:
      plugin:
        ldapAuth:
          enabled: true
          attribute: "uid"
          baseDN: "dc=lehigh,dc=edu"
          logLevel: {{ env "LOG_LEVEL" }}
          serverList:
            - Url: "ldaps://nis.cc.lehigh.edu"
              Port: 636
              Weight: 10
    ldap-shelf-reading:
      plugin:
        ldapAuth:
          enabled: true
          attribute: "uid"
          baseDN: "dc=lehigh,dc=edu"
          logLevel: {{ env "LOG_LEVEL" }}
          serverList:
            - Url: "ldaps://nis.cc.lehigh.edu"
              Port: 636
              Weight: 10
          allowedUsers:
          {{- range env "SHELF_READING_ALLOWED_USERS" | splitList "\n" }}
            - {{ . }}
          {{- end }}
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
    strip-route-path:
      stripPrefixRegex:
        regex:
          - "^/[^/]+"
    rollout-ip:
      ipWhiteList:
        sourceRange:
          - 172.16.0.0/12
          - 192.168.0.0/16
          - 127.0.0.1/32
          - 128.180.6.212/32
        ipStrategy:
          depth: 0
tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/ssl/traefik/cert.pem
        keyFile: /etc/ssl/traefik/privkey.pem
