http:
  routers:
    http_redirect:
      rule: PathPrefix(`/`)
      entryPoints:
        - http
      service: shelf-reading
    rollout:
      rule: PathPrefix(`/_rollout`)
      entryPoints:
        - https
      tls: {}
      middlewares:
        - strip-route-path
        - rollout-ip
      service: rollout
    shelf-reading:
      rule: PathPrefix(`/shelf-reading`)
      entryPoints:
        - https
      tls: {}
      middlewares:
        - ldap-valid-user
      service: shelf-reading
    sentence-transformer:
      rule: PathPrefix(`/sentence-transformer`)
      entryPoints:
        - https
      tls: {}
      middlewares:
        - strip-route-path
      service: sentence-transformer
  services:
    rollout:
      loadBalancer:
        servers:
          - url: http://rollout:8080
    shelf-reading:
      loadBalancer:
        servers:
          - url: http://shelf-reading:8080
    sentence-transformer:
      loadBalancer:
        servers:
          - url: http://sentence-transformer:8080
  middlewares:
    ldap-valid-user:
      plugin:
        ldapAuth:
          enabled: true
          logLevel: DEBUG
          attribute: "uid"
          baseDN: "dc=lehigh,dc=edu"
          serverList:
            - Url: "ldaps://nis.cc.lehigh.edu"
              Port: 636
              Weight: 10
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
    strip-route-path:
      stripPrefixRegex:
        regex:
          - "^/[^/]+"
    rollout-ip:
      ipWhiteList:
        sourceRange:
          - 172.16.0.0/12
          - 192.168.0.0/16
          - 127.0.0.1/32
          - 128.180.2.69/32
        ipStrategy:
          depth: 0
tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/ssl/traefik/cert.pem
        keyFile: /etc/ssl/traefik/privkey.pem
