# overrides for docker compose running on apps-test
networks:
  gha:
    ipam:
      config:
        - subnet: 172.19.0.0/16
          gateway: 172.19.0.1
volumes:
  actions-runner-data: {}

services:
  github-actions-runner:
    image: ghcr.io/lehigh-university-libraries/actions-runner:main
    environment:
      GITHUB_RUNNER_TOKEN: ${GITHUB_RUNNER_TOKEN}
      GITHUB_REPO: "https://github.com/lehigh-university-libraries"
      LABELS: linderman
    networks:
      - gha
    volumes:
      - actions-runner-data:/app:rw
  gha-runner-updater:
    image: ghcr.io/lehigh-university-libraries/actions-runner:main
    working_dir: /app
    entrypoint: /bin/sh
    command: -c "while true; do /app/scripts/maintenance/update-gha.sh; sleep 600; done"
    environment:
      HOSTNAME: ${HOSTNAME}
    volumes:
      - ./:/app
      - /root/.docker:/root/.docker:ro
      - /var/run/docker.sock:/var/run/docker.sock:z
  rollout:
    environment:
      DOMAIN: apps-test.lib.lehigh.edu
  traefik:
    environment:
      DOMAIN: apps-test.lib.lehigh.edu
    networks:
      default:
        aliases:
          - apps-test.lib.lehigh.edu
  book-reconciler:
    image: ghcr.io/post45-data-collective/openrefine-reconciliation-service:main@sha256:7902aec4ce91c44f12bdaf42c43829d472b899cac97440090f608c34180a9430
    environment:
      - OCLC_CLIENT_ID=${OCLC_CLIENT_ID}
      - OCLC_CLIENT_SECRET=${OCLC_CLIENT_SECRET}
      - OR_IP=http://apps-test.lib.lehigh.edu/book-reconciler
