[Unit]
Description=linderman
BindsTo=docker.service
After=docker.service
StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
User=root
Group=root
Type=oneshot
WorkingDirectory=/opt/linderman
Environment="HOSTNAME=%H"
ExecStartPre=-touch /opt/linderman/rollout.lock
ExecStart=/usr/bin/docker compose -f docker-compose.yaml -f docker-compose.${HOSTNAME}.yaml up -d
ExecStartPost=-rm -f /opt/linderman/rollout.lock
Restart=on-failure
RestartSec=15s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
