# Installed as /etc/default/local-cert-hook with mode 0600.
SLACK_WEBHOOK=''

# Set this to the public hostname for the current Docker host.
# Use apps-test.lib.lehigh.edu on test and apps-prod.lib.lehigh.edu on production.
EXPECTED_HOST=''

# These defaults can be overridden if the host layout differs.
# SOURCE_CERT='/etc/ssl/certs/le/lib.lehigh.edu.pem'
# SOURCE_KEY='/etc/ssl/private/le/lib.lehigh.edu.key'
# STACK_DIR='/opt/linderman'
# COMPOSE_HOST='libapps-test'
# COMPOSE_OVERRIDE='/opt/linderman/docker-compose.libapps-test.yaml'
# HEALTHCHECK_TIMEOUT='60'
# ALERT_CONTEXT='Linderman TLS certificate rollout'
